<div class="row">
  <div class="jumbotron">
      <h2>Paste an url in the field below!</h2>
      <div class="row">
          <div class="col-lg-6">
            <%= form_for :url, remote: true, :html => {class: 'shortener_form'} do |f| %>
            <div class="input-group input-lg field">
              <%= f.text_field :link, :class => 'form-control', :placeholder => "link..." %>

              <span class="input-group-btn">
                <%= f.submit "Generate!", class:"btn btn-large btn-primary" %>
              </span>
              <% end %>
            </div>
          </div>
      </div>
  </div>
</div>